.collective{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 21px;
  margin-top: 63px;
  &__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //gap: 21px;
  }
}
@media (max-width: $viewport-m) {
  .collective{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px;
    margin-top: 0px;
    img{
      margin-top: 20px;
      width: 100vw;
    }
    &__item{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      //gap: 21px;
    }
  }
}