.footer {
  margin: 0 -56px;
  margin-top: 260px;
  background-color: #00222c;
  height: 321px;
  position: relative;
  &__top {
    padding: 54px 108px 0 56px;
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    flex-wrap: wrap;
    &--item {
      display: flex;
      align-items: start;
      flex-wrap: wrap;
      gap: 13px;
      p {
        margin: 0;
      }
    }
    &--singapore,
    &--vietnam {
      font-weight: 500;
      font-size: 17px;
      line-height: 22px;
      color: $color-white;
      h3 {
        margin: 0;
      }
    }
    &--vietnam {
      //width: 556px;
      .vietnam__address {
        //width: 519px;
      }
    }
    &--app {
      .app__face,
      .app__ig {
        border: 1px solid #ffffff;
        border-radius: 4px;
        width: 52px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .app__ig {
        img {
          background-color: $color-white;
        }
      }
    }
  }
  &__nav {
    position: absolute;
    left: 375px;
    bottom: 50px;
    .menu {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 604px;
      .menu__item {
        &--link {
          text-decoration: none;
          font-weight: 500;
          font-size: 17px;
          line-height: 22px;
          color: $color-white;
        }
      }
    }
  }
  &__bg {
    position: absolute;
    top: 117px;
    left: 10px;
  }
}
@media (max-width: $viewport-m) {
  .footer {
    //margin: 0 -56px;
    //margin-top: 260px;
    //background-color: #00222c;
    //height: 321px;
    //position: relative;
    margin: 0;
    margin-top: 20px;
    height: auto;
    &__top {
      //padding: 54px 108px 0 56px;
      //display: flex;
      //align-items: self-start;
      //justify-content: space-between;
      //flex-wrap: wrap;
      //gap: 20px;
      row-gap: 30px;
      padding: 0;
      justify-content: center;
      margin-top: 20px;
      &--logo{
        margin-top: 30px;
      }
      &--item {
        //display: flex;
        //align-items: start;
        //flex-wrap: wrap;
        //gap: 13px;
        //p {
        //  margin: 0;
        //}
        align-content: center;
        justify-content: center;
      }
      &--singapore,
      &--vietnam {
        font-weight: 500;
        font-size: 17px;
        line-height: 22px;
        color: $color-white;
        text-align: center;
        h3 {
          margin: 0;

        }
      }
      &--vietnam {
        //width: 556px;
        .vietnam__address {
          //width: 519px;
        }
      }
      //&--app {
      //  .app__face,
      //  .app__ig {
      //    border: 1px solid #ffffff;
      //    border-radius: 4px;
      //    width: 52px;
      //    height: 52px;
      //    display: flex;
      //    align-items: center;
      //    justify-content: center;
      //  }
      //  .app__ig {
      //    img {
      //      background-color: $color-white;
      //    }
      //  }
      //}
    }
    &__nav {
      //position: absolute;
      //left: 375px;
      //bottom: 50px;
      position: static;
      display: flex;
      justify-content: center;
      .menu {
        //background-color: red;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        //width: 180px;
        gap: 15px;
        padding: 0;
        .menu__item {
          &--link {
            text-decoration: none;
            font-weight: 500;
            font-size: 17px;
            line-height: 22px;
            color: $color-white;
          }
        }
      }
    }
    &__bg {
      //position: absolute;
      //top: 117px;
      //left: 10px;
      display: none;
    }
  }
}
