.header {
  height: 313px;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    //&--left {
    //}
    &--right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
      .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        list-style: none;
        &__item {
          &--link {
            text-decoration: none;
            font-weight: 500;
            font-size: 15px;
            line-height: 19px;
            color: $color-gray6;
          }
          &--link:hover {
            font-weight: 500;
            font-size: 15px;
            line-height: 19px;
            color: $color-gray9;
          }
        }
      }
      .contact {
        width: 124px;
        height: 36px;
        font-weight: 500;
        font-size: 15px;
        line-height: 19px;
      }
      .language {
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        color: $color-gray5;
        &__item--eng {
          color: $color-gray9;
        }
      }
    }
  }
  &__title {
    margin: 99px 0 0 103px;
    width: 1479px;
    height: 137px;
    display: flex;
    justify-content: space-between;
    &--box80 {
      width: 80px;
      height: 80px;
    }
    &--box44 {
      width: 44px;
      height: 44px;
      background-color: $color-primary2;
      align-self: flex-end;
    }
    &--center {
      align-self: center;
      width: 731px;
      height: 103px;
      font-weight: 700;
      font-size: 80px;
      line-height: 101px;
      color: $color-gray9;
      position: relative;
      //background-color: red;
      p {
        margin: 0;
        margin-top: 5px;
      }
      &--bg {
        position: absolute;
        bottom: 15px;
        width: 731px;
        height: 26px;
        opacity: 0.2;
      }
    }
    &--box22 {
      width: 22px;
      height: 22px;
      background-color: $color-primary2;
    }
    &--box56 {
      margin-top: 27px;
      width: 56px;
      height: 56px;
    }
  }
}
@media (max-width: $viewport-m) {
  .header {
    height: 313px;
    height: auto;
    padding: 0 25px;
    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 24px;
      //&--left {
      //}
      &--right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        .menu {
          //display: flex;
          //align-items: center;
          //justify-content: space-between;
          //gap: 40px;
          //list-style: none;
          //&__item {
          //  &--link {
          //    text-decoration: none;
          //    font-weight: 500;
          //    font-size: 15px;
          //    line-height: 19px;
          //    color: $color-gray6;
          //  }
          //  &--link:hover {
          //    font-weight: 500;
          //    font-size: 15px;
          //    line-height: 19px;
          //    color: $color-gray9;
          //  }
          //}
          display: none;
        }
        .contact {
          //width: 124px;
          //height: 36px;
          //font-weight: 500;
          //font-size: 15px;
          //line-height: 19px;
          display: none;
        }
        .language {
          font-weight: 400;
          font-size: 15px;
          line-height: 19px;
          color: $color-gray5;
          &__eng {
            color: $color-gray9;
          }
        }
      }
    }
    &__title {
      //margin: 99px 0 0 103px;
      //width: 1479px;
      //height: 137px;
      //display: flex;
      //justify-content: space-between;
      //background-color: #00bdf5;
      margin: 0;
      width: 100vw;
      margin-left: -25px;
      align-items: center;
      justify-content: center;
      text-align: center;

      &--box80 {
        //width: 80px;
        //height: 80px;
        display: none;
      }
      &--box44 {
        //width: 44px;
        //height: 44px;
        //background-color: $color-primary2;
        //align-self: flex-end;
        display: none;
      }
      &--center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        //width: 731px;
        //height: 103px;
        //width: auto;
        //margin-top: 100px;
        //background-color: red;
        font-weight: 500;
        font-size: 35px;
        line-height: 24px;
        //color: $color-gray9;
        //position: relative;
        p {
          //margin: 0;
          //margin-top: 5px;
          margin: 0;
        }
        &--bg {
          //position: absolute;
          //bottom: 15px;
          //width: 731px;
          //height: 26px;
          //opacity: 0.2;
          display: none;
        }
      }
      &--box22 {
        //width: 22px;
        //height: 22px;
        //background-color: $color-primary2;
        display: none;
      }
      &--box56 {
        //margin-top: 27px;
        //width: 56px;
        //height: 56px;
        display: none;
      }
    }
  }
}
