.leader {
  margin-top: 93px;
  &__logo {
    margin-left: 255px;
  }
  &__container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    &--item {
      margin-top: 44px;
      width: 370px;
      .container__item--name {
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        color: $color-primary;
        margin: 16px 0 12px 0;
      }
      .container__item--position {
        width: fit-content;
        padding: 8px 4px;
        p {
          margin: 0;
        }
      }
      .container__item--desc {
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
      }
    }
  }
}
@media (max-width: $viewport-m) {
  .leader {
    margin-top: 20px;
    width: 100vw;
    &__logo {
      width: 100vw;
      //background-color: red;
      margin: 0;
      display: flex;
      justify-content: center;
      img{
        width: 60vw;
      }
    }
    &__container {
      padding: 0 10px;
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;
      &--item {
        margin-top: 20px;
        width: 370px;
        //.container__item--name {
        //  font-weight: 500;
        //  font-size: 24px;
        //  line-height: 30px;
        //  color: $color-primary;
        //  margin: 16px 0 12px 0;
        //}
        //.container__item--position {
        //  width: fit-content;
        //  padding: 8px 4px;
        //  p {
        //    margin: 0;
        //  }
        //}
        //.container__item--desc {
        //  font-weight: 400;
        //  font-size: 15px;
        //  line-height: 22px;
        //}
      }
    }
  }
}
