.sidebar {
  width: 0;
  height: 0;
  background-color: #00dbf5;
  .sidebar__left {
    width: 0;
    height: 0;
    visibility: hidden;
    transition: all 0.3s linear;
    .menu {
      margin: 0;
    }
  }
  .sidebar__right {
    width: 0;
    height: 0;
  }
}
@media (max-width: $viewport-m) {
  //.sidebar {
  //  width: 0;
  //  height: 0;
  //  background-color: #00dbf5;
  //  .sidebar__left {
  //    width: 0;
  //    height: 0;
  //    visibility: hidden;
  //    transition: all 0.3s linear;
  //    .menu {
  //      margin: 0;
  //    }
  //  }
  //  .sidebar__right {
  //    display: none;
  //    width: 0;
  //    height: 0;
  //  }
  //}
  .sidebar-show {
    width: 100vw;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    transition: all 0.3s linear;
    display: flex;
    .sidebar__left {
      height: 8050px;
      visibility: visible;
      width: 50vw;
      .menu {
        list-style: none;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: start;

        justify-content: space-around;
        gap: 20px;
        &__item {
          &--link {
            text-decoration: none;
            font-weight: 500;
            font-size: 24px;
            line-height: 30px;
            color: black;
          }
          &--link:hover {
            font-weight: 500;
            font-size: 29px;
            color: white;
          }
        }
      }
      background-color: #6bd5d1;
    }
    .sidebar__right {
      display: block;
      width: 50vw;
      height: 8050px;
      background-color: black;
      opacity: 0.5;
    }
  }
}
