.values {
  padding: 0 56px;
  .container {
    margin-top: 58px;
    padding-top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
    .values__bg{
      width: 1098px;
      height: 472px;
      position: absolute;
      top: 0;
      right: 0;
    }
    .values__item {
      width: 270px;
    }
    .values__content {
      height: 233px;
      &--title {
        font-weight: 700;
        font-size: 48px;
        line-height: 61px;
        color: $color-gray9;
      }
      &--desc {
        font-weight: 450;
        font-size: 17px;
        line-height: 32px;
        color: $color-gray7;
      }
    }
    .values__personal,
    .values__dedication,
    .values__focus {
      height: 268px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #FFFFFF;
      box-shadow: 0 20px 30px rgba(33, 37, 41, 0.08);
      border-radius: 4px;
      z-index: 2;
    }
    .values__focus{
      img{
        padding-bottom: 6px;
      }
    }
  }
}
@media (max-width: $viewport-m) {
  .values {
    padding: 0;
    .container {
      //margin-top: 58px;
      //padding-top: 75px;
      //display: flex;
      //align-items: center;
      //justify-content: center;
      //gap: 30px;
      //position: relative;
      margin-top: 0;
      flex-wrap: wrap;
      .values__bg{
        //width: 1098px;
        //height: 472px;
        //position: absolute;
        //top: 0;
        //right: 0;
        display: none;
      }
      .values__item {
        width: 270px;
      }
      .values__content {
        height: 233px;
        text-align: center;
        &--title {
          font-weight: 700;
          font-size: 48px;
          line-height: 61px;
          color: $color-gray9;
        }
        &--desc {
          //font-weight: 450;
          //font-size: 17px;
          //line-height: 32px;
          //color: $color-gray7;

        }
      }
      .values__personal,
      .values__dedication,
      .values__focus {
        height: 268px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        box-shadow: 0 20px 30px rgba(33, 37, 41, 0.08);
        border-radius: 4px;
        z-index: 2;
      }
      .values__focus{
        img{
          padding-bottom: 6px;
        }
      }
    }
  }

}
