@font-face {
  font-family: Circular Std;
  src: url(../../font/circular-std-medium-500.ttf);
}
body {
  display: block;
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
  position: relative;
  margin: 0 auto;
  background-color: #ffffff;
  max-width: 1680px;
  padding: 0 56px;
  font-family: "Circular Std";
  font-style: normal;
  box-sizing: border-box;
}

.btn-primary {
  background-color: #00dbf5;
  color: #ffffff;
  border: 0;
  border-radius: 4px;
}

.decorate {
  background-color: #00dbf5;
  opacity: 0.4;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .container {
    padding: 0;
    width: 100vw;
  }
}
.header {
  height: 313px;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
}
.header__top--right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.header__top--right .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  list-style: none;
}
.header__top--right .menu__item--link {
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #868e96;
}
.header__top--right .menu__item--link:hover {
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #212529;
}
.header__top--right .contact {
  width: 124px;
  height: 36px;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
}
.header__top--right .language {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #adb5bd;
}
.header__top--right .language__item--eng {
  color: #212529;
}
.header__title {
  margin: 99px 0 0 103px;
  width: 1479px;
  height: 137px;
  display: flex;
  justify-content: space-between;
}
.header__title--box80 {
  width: 80px;
  height: 80px;
}
.header__title--box44 {
  width: 44px;
  height: 44px;
  background-color: #6BD5D1;
  align-self: flex-end;
}
.header__title--center {
  align-self: center;
  width: 731px;
  height: 103px;
  font-weight: 700;
  font-size: 80px;
  line-height: 101px;
  color: #212529;
  position: relative;
}
.header__title--center p {
  margin: 0;
  margin-top: 5px;
}
.header__title--center--bg {
  position: absolute;
  bottom: 15px;
  width: 731px;
  height: 26px;
  opacity: 0.2;
}
.header__title--box22 {
  width: 22px;
  height: 22px;
  background-color: #6BD5D1;
}
.header__title--box56 {
  margin-top: 27px;
  width: 56px;
  height: 56px;
}

@media (max-width: 768px) {
  .header {
    height: 313px;
    height: auto;
    padding: 0 25px;
  }
  .header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
  }
  .header__top--right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }
  .header__top--right .menu {
    display: none;
  }
  .header__top--right .contact {
    display: none;
  }
  .header__top--right .language {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #adb5bd;
  }
  .header__top--right .language__eng {
    color: #212529;
  }
  .header__title {
    margin: 0;
    width: 100vw;
    margin-left: -25px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .header__title--box80 {
    display: none;
  }
  .header__title--box44 {
    display: none;
  }
  .header__title--center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-weight: 500;
    font-size: 35px;
    line-height: 24px;
  }
  .header__title--center p {
    margin: 0;
  }
  .header__title--center--bg {
    display: none;
  }
  .header__title--box22 {
    display: none;
  }
  .header__title--box56 {
    display: none;
  }
}
.collective {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 21px;
  margin-top: 63px;
}
.collective__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .collective {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px;
    margin-top: 0px;
  }
  .collective img {
    margin-top: 20px;
    width: 100vw;
  }
  .collective__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.leader {
  margin-top: 93px;
}
.leader__logo {
  margin-left: 255px;
}
.leader__container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.leader__container--item {
  margin-top: 44px;
  width: 370px;
}
.leader__container--item .container__item--name {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #00dbf5;
  margin: 16px 0 12px 0;
}
.leader__container--item .container__item--position {
  width: fit-content;
  padding: 8px 4px;
}
.leader__container--item .container__item--position p {
  margin: 0;
}
.leader__container--item .container__item--desc {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

@media (max-width: 768px) {
  .leader {
    margin-top: 20px;
    width: 100vw;
  }
  .leader__logo {
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .leader__logo img {
    width: 60vw;
  }
  .leader__container {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  .leader__container--item {
    margin-top: 20px;
    width: 370px;
  }
}
.member {
  margin-top: 115px;
}
.member__logo {
  margin-left: 255px;
}
.member__container {
  padding-top: 41px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 1170px;
}
.member__container--item .container__item--name {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #212529;
}
.member__container--item .container__item--name p {
  margin: 16px 0 12px 0;
}
.member__container--item .container__item--position {
  background: #6bd5d1;
  border-radius: 4px;
  padding: 4px 8px;
  width: fit-content;
  color: #ffffff;
}
.member__container--item .container__item--position p {
  margin: 0;
}

@media (max-width: 768px) {
  .member {
    margin-top: 20px;
  }
  .member__logo {
    margin: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .member__logo img {
    width: 60vw;
  }
}
.mission {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 130px;
}
.mission__bg {
  backdrop-filter: brightness(0%);
}
.mission__box44 {
  position: absolute;
  top: 417px;
  left: 335px;
  width: 44px;
  height: 44px;
}
.mission__box70 {
  position: absolute;
  top: 142px;
  left: 453px;
  width: 70px;
  height: 70px;
}
.mission__centre {
  position: absolute;
  top: 223px;
  left: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
.mission__centre--title {
  font-weight: 700;
  font-size: 48px;
  line-height: 61px;
}
.mission__centre--content {
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  width: 845px;
  text-align: center;
}
.mission__box29 {
  position: absolute;
  top: 198px;
  right: 416px;
  width: 29px;
  height: 29px;
}
.mission__box80 {
  position: absolute;
  top: 417px;
  right: 299px;
  width: 80px;
  height: 80px;
}

@media (max-width: 768px) {
  .mission {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 20px;
  }
  .mission__bg {
    width: 100vw;
  }
  .mission__box44 {
    display: none;
  }
  .mission__box70 {
    display: none;
  }
  .mission__centre {
    position: absolute;
    top: 10px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
  }
  .mission__centre--title {
    font-weight: 500;
    font-size: 19px;
    line-height: 30px;
  }
  .mission__centre--content {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    width: auto;
    text-align: center;
  }
  .mission__box29 {
    display: none;
  }
  .mission__box80 {
    display: none;
  }
}
.values {
  padding: 0 56px;
}
.values .container {
  margin-top: 58px;
  padding-top: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;
}
.values .container .values__bg {
  width: 1098px;
  height: 472px;
  position: absolute;
  top: 0;
  right: 0;
}
.values .container .values__item {
  width: 270px;
}
.values .container .values__content {
  height: 233px;
}
.values .container .values__content--title {
  font-weight: 700;
  font-size: 48px;
  line-height: 61px;
  color: #212529;
}
.values .container .values__content--desc {
  font-weight: 450;
  font-size: 17px;
  line-height: 32px;
  color: #495057;
}
.values .container .values__personal,
.values .container .values__dedication,
.values .container .values__focus {
  height: 268px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0 20px 30px rgba(33, 37, 41, 0.08);
  border-radius: 4px;
  z-index: 2;
}
.values .container .values__focus img {
  padding-bottom: 6px;
}

@media (max-width: 768px) {
  .values {
    padding: 0;
  }
  .values .container {
    margin-top: 0;
    flex-wrap: wrap;
  }
  .values .container .values__bg {
    display: none;
  }
  .values .container .values__item {
    width: 270px;
  }
  .values .container .values__content {
    height: 233px;
    text-align: center;
  }
  .values .container .values__content--title {
    font-weight: 700;
    font-size: 48px;
    line-height: 61px;
    color: #212529;
  }
  .values .container .values__personal,
  .values .container .values__dedication,
  .values .container .values__focus {
    height: 268px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0 20px 30px rgba(33, 37, 41, 0.08);
    border-radius: 4px;
    z-index: 2;
  }
  .values .container .values__focus img {
    padding-bottom: 6px;
  }
}
.footer {
  margin: 0 -56px;
  margin-top: 260px;
  background-color: #00222c;
  height: 321px;
  position: relative;
}
.footer__top {
  padding: 54px 108px 0 56px;
  display: flex;
  align-items: self-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__top--item {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 13px;
}
.footer__top--item p {
  margin: 0;
}
.footer__top--singapore, .footer__top--vietnam {
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  color: #ffffff;
}
.footer__top--singapore h3, .footer__top--vietnam h3 {
  margin: 0;
}
.footer__top--app .app__face,
.footer__top--app .app__ig {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__top--app .app__ig img {
  background-color: #ffffff;
}
.footer__nav {
  position: absolute;
  left: 375px;
  bottom: 50px;
}
.footer__nav .menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 604px;
}
.footer__nav .menu .menu__item--link {
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  color: #ffffff;
}
.footer__bg {
  position: absolute;
  top: 117px;
  left: 10px;
}

@media (max-width: 768px) {
  .footer {
    margin: 0;
    margin-top: 20px;
    height: auto;
  }
  .footer__top {
    row-gap: 30px;
    padding: 0;
    justify-content: center;
    margin-top: 20px;
  }
  .footer__top--logo {
    margin-top: 30px;
  }
  .footer__top--item {
    align-content: center;
    justify-content: center;
  }
  .footer__top--singapore, .footer__top--vietnam {
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
  }
  .footer__top--singapore h3, .footer__top--vietnam h3 {
    margin: 0;
  }
  .footer__nav {
    position: static;
    display: flex;
    justify-content: center;
  }
  .footer__nav .menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0;
  }
  .footer__nav .menu .menu__item--link {
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: #ffffff;
  }
  .footer__bg {
    display: none;
  }
}

/*# sourceMappingURL=app.css.map */
